/* You can add global styles to this file, and also import other style files
per avere tutti i div container omogenei nella single page application
*/
.container
{
    max-width: 1140px;
}

.tag
{
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: blue;
    color: white;
}
